@page "/"

<PageTitle>Index</PageTitle>


<h5><a href="https://github.com/alexmarian99/blazor-server-demo">Github Source Code</a></h5>
<br />

<PresentationPool></PresentationPool>
<br /><br />
<ChatComponent></ChatComponent>
